
<h3 class="hero-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
<div class="resume-item d-flex flex-column flex-md-row mb-3">

  {{ if .Params.image }}
  <div class="resume-content post-image">
    {{with  .Params.image }}
      <img src="{{ . }}" style="max-height:150px;max-width:150px;"/>
    {{ end }}
  </div>
  {{ end }}
  <div class="resume-date">
    {{ if .Description }}
    <p>{{ .Description | safeHTML }}<p>
    <p class><a href="{{.Permalink}}">Read more..</a></p>
    {{ else }}
    {{ .Content | markdownify }}
    {{ end }}
  </div>
</div>
<div>{{ partial "techtags" . }}</div>
