{{ define "main" }}
  {{ partial "home/about.html" .}}
  {{ $pageScope := . }}
  {{ range .Site.Params.Sections }}
    {{ $sectionId := (default (lower .title | urlize) .id) }}
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="{{ $sectionId }}">
      <div id="{{ $sectionId }}-content" class="my-auto">
        <h2 class="section-title">{{ .title }}</h2>
        {{ $pageScope.Scratch.Set "sectionId" $sectionId }}
        {{ $partialPath := printf "home/%s.html" $sectionId }}

        {{/* Prefer an existing template, otherwise try to render a list of summaries */}}
        {{ if templates.Exists (printf "partials/%s" $partialPath) }}
          {{ partial $partialPath $pageScope }}
        {{ else if $pageScope.Site.GetPage $sectionId }}
          {{ with $pageScope.Site.GetPage $sectionId }}
            {{ partial "posts/summaryList" . }}
          {{ end }}
        {{ else }}
          {{/* We don't have any content to put here! */}}
        {{ end }}
      </div>
    </section>
  {{ end }}
{{ end }}
